body {
	font-family: “Trebuchet MS”, “Lucida Grande”, “Lucida Sans Unicode”, “Lucida Sans”, Tahoma, sans-serif;
	font-size: 1.75vmin;
	color: #c8c8c8;
}
/*

Responsive?

*/
#main {
	position: fixed;
	top: 0%;
	z-index: 1;
	width:100%;
}
#main li:not(.active){
	background-color: #272b30;
}
.tab-content{
	margin-top: 5em;
}
.section {
	width: 95%;
	display: block;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 2.5em;
}
.section-heading, .section-heading-sm, .section-body, .section-footer {
	color: #c8c8c8;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.section-body, .section-footer, .section-heading {
	padding: 1em;
}

.section-heading-sm {
	padding: 0.5em;
}

.section-heading, .section-heading-sm{	
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	background-color: #363a41;
	border: 1px solid black;
	border-bottom: 1px solid #454b54;
	text-align: left;
}
.section-heading {
	min-height: 5em;
}
.section-heading-sm {
	min-height: 2.5em;
}
.section-heading h4, .section-heading-sm h4 {
	display: inline-block;
}
.section-body {
	min-height: 5em;
	background-color: #23262a;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.section-footer {
	min-height: 2em;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: #23262a;
	border: 1px solid black;
	border-top: 0px;
}

hr {
	width: 80%;
	border-top-color: #666666;
}

.city div.container-fluid:not(.resources) > div.row > div:not(.ns), .nation div.container-fluid:not(.resources) > div.row > div:not(.ns){
	padding: 1.25em;
}
.city div.container-fluid:not(.resources) > div.row:nth-child(odd):not(.ns), .nation div.container-fluid:not(.resources) > div.row:nth-child(odd):not(.ns) {
	background-color: #313639;
}
.city div.container-fluid:not(.resources) > div.row:nth-child(even):not(.ns),.nation div.container-fluid:not(.resources) > div.row:nth-child(even):not(.ns) {
	background-color: #464e53;
}
.city  div.header, .nation div.header {
	font-weight: 600;
}
.city  div.row > div:not(.header), .nation div.row > div:not(.header) {
	text-align: right;
}
.city div.container-fluid:not(.resources)  div.input input{
	text-align: right;
	width: 80%;
}
.nation  div.container-fluid:not(.resources)  div.input input{
	text-align: right;
	width: 70%;
}

.nation  div.container-fluid:not(.resources)  div.input input{
	text-align: right;
	width: 70%;
}


div.input input[type="checkbox"]{
	transform: scale(1.5);
}
span.minimize {
	float: right;
	transform: scale(2);
	cursor: pointer;
}

.improvements > div > h2 {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	background-color: #666666;
	margin-bottom: 0px;
}
.improvements table{
	width: 100%;
}
.improvements table th{
	text-align: center;
	width: 16.666%;
	font-size: 1.1em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #3a3e45;
}
.improvements table td{
	padding: 0.75%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.improvements table tr:nth-child(odd) {
	background-color: #313639;
}
.improvements table tr:nth-child(even) {
	background-color: #464e53;
}

.improvements table input{
	width: 20%;
	float: right;
	text-align: center;
}
.delete, .clone, .import, .export {
	width: 5em;
	position: relative;
	left: 75%;
	margin-right: 1em;
	color: #fff;
	background-color: #23262a;
	border: 1px solid #c8c8c8;
	border-radius: 2em;
}
#nationImport {
	width: 40%;
	position: relative;
	display: inline-block;
	left: 55%;
}	
#nationImport label{
	margin-right: 1.5em;
}
.import_nation {
	width: 10em;
	position: relative;
	margin-left: 2.5em;
	margin-right: 1em;
	color: #fff;
	background-color: #23262a;
	border: 1px solid #c8c8c8;
	border-radius: 2em;
}

.unit div.container-fluid:not(.resources) > div.row  > div:not(.ns) {
	height: 4em;
	padding: .75em;
	text-align: right;
}
.unit div.container-fluid:not(.resources) > div.row:nth-child(odd):not(.ns) {
	background-color: #313639;
}
.unit div.container-fluid:not(.resources) > div.row:nth-child(even):not(.ns) {
	background-color: #464e53;
	border-bottom: 1px solid #8c8c8c;
}

.unit div.header {
	font-weight: 600;
}
.unit div.container-fluid:not(.resources) > div.row > div:not(:first-child) {
	border-left: 1px solid #8c8c8c;
}
.unit  input{
	text-align: right;
	width: 40%;
}

div.container-fluid.resources {
	width: 150%;
	font-size: 0.75em;
	padding:0px;
	position: absolute;
	transform: translate(-35%, 10%);
}

div.container-fluid.resources  div{
	font-size: 1em;
	margin: 0px;
}
.coal::after{
	content: url('../images/coal.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.oil::after{
	content: url('../images/oil.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.uranium::after{
	content: url('../images/uranium.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.lead::after{
	content: url('../images/lead.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.iron::after{
	content: url('../images/iron.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.bauxite::after{
	content: url('../images/bauxite.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.gasoline::after{
	content: url('../images/gasoline.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.munitions::after{
	content: url('../images/munitions.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.steel::after{
	content: url('../images/steel.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.aluminum::after{
	content: url('../images/aluminum.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.food::after{
	content: url('../images/food.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}
.money::after{
	content: url('../images/money.png');
	width: 1vmin;
	height: 1vmin;
	float: right;
}

div.row > div.ns {
	padding: 0px;
}

select{
	color: black;
	width: 80%;
}
select option{
	text-align: right;
}

#importNation, #importCity{
	text-align: center;
	margin-bottom: 2.5%;
	padding: 0.5em;
	background-color: #363a41;
	border: 1px solid #8c8c8c;
	border-radius: 0.5em;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
}
::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}
.improvements input::-webkit-inner-spin-button {
    -webkit-appearance: none ;
	display: none;
}
